<!-- Banner -->
{% load static %}
<section class="banner full">
  <article>
    <img src="{% static 'images/sale.jpg' %}" alt="" />
    <div class="inner">
      <header>
        <p>Shop through our summer <b>sale</b></p>
        <h2>Keep #classy</h2>
      </header>
    </div>
  </article>
  <article>
    <img src="{% static 'images/selfie.png' %}" alt="" />
    <div class="inner">
      <header>
        <p>Skincare, fashion, and <b>more</b></p>
        <h2>Keep #fresh</h2>
      </header>
    </div>
  </article>
  <article>
    <img src="{% static 'images/laptop.png' %}" alt="" />
    <div class="inner">
      <header>
        <p>Free shipping and free returns</p>
        <h2>Keep #calm</h2>
      </header>
    </div>
  </article>
</section>
